{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">AudiBun</a>
        </li>
        <li class="breadcrumb-item active">Principal</li>
      </ol>

{% include "menu.html" %}

      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Cadastro de Empresas</div>
        <div class="card-body">
           {% if empresas %}
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>{{ form.ref_cad.label }}</th>
                  <th>{{ form.name.label }}</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>{{ form.ref_cad.label }}</th>
                  <th>{{ form.name.label }}</th>
                </tr>
              </tfoot>
              <tbody>
              {% for empresa in empresas %}
                <tr>
                <td>
                      <a href="{% url 'empresas:listar' empresa.pk %}">
                        {{ empresa.ref_cad }}
                      </a>
                  </td>
                  <td>
                      <a href="{% url 'empresas:listar' empresa.pk %}">
                        {{ empresa.name }}
                      </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
        </div>
        {% include "mensagem_rodape.html" %}
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

{% endblock %}
