{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">AudiBun</a>
        </li>
        <li class="breadcrumb-item active">Cadastro de Empresas</li>
      </ol>

{% include "menu.html" %}

      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Cadastro de Empresas</div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert success">
                        <p>{{ message }} </p>
                    </div>
                {% endfor %}
            {% endif %}
        <div class="card-body">
            <form action="." novalidate method="POST">
                {% csrf_token %}
                <div class="form-group">

                    <div class="container">
                        {% include "empresas_formulario.html" %}
                    </div>

                </div>
                <p class="btn-row">
                    <input type="submit" value="Cadastrar Empresa"/>
                </p>
            </form>
        </div>
        {% include "mensagem_rodape.html" %}
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
{% endblock %}
