{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">AudiBun</a>
        </li>
        <li class="breadcrumb-item active">Visualizar cadastro da Empresa</li>
      </ol>

{% include "menu.html" %}

      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Visualizar cadastro da Empresa</div>
        <div class="card-body">
                <div class="form-group">

                    <div class="container">

                        {% include "formulario.html" %}

                    </div>
                </div>
        </div>
        {% include "mensagem_rodape.html" %}
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
{% endblock %}
