{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">AudiBun</a>
        </li>
        <li class="breadcrumb-item active">Visualizar Vistorias</li>
      </ol>

{% include "menu.html" %}

      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Visualizar Vistorias</div>
        <div class="card-body">
                <div class="form-group">

                    <div class="container">

                        <br>
                            <label for="{{ form.empresa.id_for_label }}">{{ form.empresa.label }}</label>
                                {{ form.empresa }}
                        <br>
                            <label for="{{ form.observacao.id_for_label }}">{{ form.observacao.label }}</label>
                            {{ form.observacao}}
                        <br>
                        {% if vistoria.imagem %}

                            <style>
                                img {
                                    border: 1px solid #ddd; /* Gray border */
                                    border-radius: 4px;  /* Rounded border */
                                    padding: 5px; /* Some padding */
                                    width: 150px; /* Set a small width */
                                }

                                /* Add a hover effect (blue shadow) */
                                img:hover {
                                    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
                                }
                            </style>
                            <img id= 'imagem'
                                 src='{{ vistoria.imagem.url }}'
                                 alt='{{ obj.empresa }}'
                                 onclick="window.open('{{ vistoria.imagem.url }}','_blank')"
                            >
                        {% endif %}
                    </div>
                </div>
        </div>
        {% include "mensagem_rodape.html" %}
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
{% endblock %}
